*{
    margin: 0;
    padding: 0;
    font-family: myFirstFont;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-track{
background-color: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 9px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    text-align: center;
  }
body{
    background-color: #ecf0f3;
}
@font-face {
    font-family: myFirstFont;
    src: url(..//fonts/exo2-variablefont_wght-webfont.woff);
 }
.my-header{
    max-width: 100%;
    display: flex;
    background-color: #241b35;
    align-items: center;
    justify-content: space-around;
}
.web-name>p{
    font-size: 1.9rem;
    cursor: pointer;
    color: white;
}
.web-name>p:hover{
    color: #cb80ff;
}
.ul1{
    display: flex;
}
.ul1>li{
    margin: 2vw 2vw;
    list-style: none;
}
.ul1>li>a{
    font-size: 1.3rem;
    color:white;
    text-decoration: none;
}
.ul1>li>a:hover{
  
    border-bottom: 4px solid #cb80ff;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .active{
    border-bottom: 4px solid #cb80ff;
  }